body{
    background-color: black;
    color:#9417E2;
    font-size: 20px;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
   
    
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    background-color: #9417E2;
  }
  
  nav ul li {
    margin-right: 40px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: underline;
    color: black;
  }
  
  .logo {
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    margin-left: 20px;
   
    font-size: 40px;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .logo {
      margin: 0 0 20px 20px;
    }
    
    nav ul {
      margin-left: 20px;
    }
    
    nav ul li {
      margin: 0 0 10px 0;
    }
  }

  .main{
    margin: 20px;
    margin-top:40px;
  }
   /* .events{
    border-style: solid;
    border-color:black;
    border-left-color: #65e217;
    padding-left: 30px;
}  */

.donate-button{
   text-align: center;
    border:1px solid;
    width: 200px;
    color:#65e217;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;


}
  h1{
font-size: 30px;
font-family: 'Fira Code', monospace;
font-weight: 500;

  }
  h2{
    font-size: 25px;
  }
 
  p{
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    border-style: solid;
    border-color: black;
    border-left-color: #65e217;
    padding-left: 30px;
    padding-right: 20%;
  }
  a{
    color:#65e217;
  }

 